<app-owner-navbar></app-owner-navbar>
<div class="bodyDiv">
  <div class="headingDivLeagueOwner">
    <h1>MATCHES</h1>
  </div>

</div>
<div class="container">
  <div class="col-md-6" id="leage">
    <h1>Create Match</h1>
    <button class="btn btn-info">+</button>

  </div>
  <div class="col-md-4" id="tab">
    <mat-tab-group>

      <mat-tab label="Matches">Upcoming Matches</mat-tab>
      <mat-tab label="Old Matches">Previous Matches</mat-tab>
    </mat-tab-group>
  </div>
  <div>

  </div>

</div>
