



<div class="bodyDiv">
  <mat-toolbar  >

    <span style="padding: 0 50% 0 50%" ><img src="../../assets/title_logo.png" routerLink="" height="60" width="60"/></span>

    <span class="example-fill-remaining-space"></span>
    <a mat-button routerLink="about" routerLinkActive="active"> About </a>
    <a mat-button routerLink="league_owner" routerLinkActive="active">League Owner</a>
    <a mat-button routerLinkActive="active" routerLink="refree">Refree</a>
    <a mat-button routerLink="sport_writer" routerLinkActive="active">Sports Writer</a>
    <a mat-button routerLinkActive="active" routerLink="register">Register</a>

  </mat-toolbar>

</div>
<!--<router-outlet></router-outlet>-->
