

<div class="bodyDiv">
  <mat-toolbar  >

    <span><img src="../../assets/title_logo.png" routerLink="" height="60" width="60"/></span>

    <span class="example-fill-remaining-space"></span>
    <a mat-button routerLink='/about' > About </a>
    <a mat-button routerLink='/login' >League Owner</a>
    <a mat-button routerLink='/login'>Refree</a>
    <a mat-button routerLink='/login' >Sports Writer</a>
    <a mat-button routerLink='/admin'>Admin</a>
    <a mat-button routerLink='/register'>Register</a>
  </mat-toolbar>

</div>
<!--<router-outlet></router-outlet>-->
