

<div class="bg">
  <mat-toolbar  >

    <span ><img src="../../assets/title_logo.png" routerLink="" height="60" width="60"/></span>

    <span class="example-fill-remaining-space"></span>
    <a mat-button routerLink="about" routerLinkActive="menu-link-active"> About </a>
    <a mat-button routerLink="league_owner" routerLinkActive="menu-link-active">League Owner</a>
    <a mat-button routerLinkActive="menu-link-active" routerLink="refree">Refree</a>
    <a mat-button routerLink="login" routerLinkActive="menu-link-active">Sports Writer</a>
    <a mat-button routerLinkActive="menu-link-active" routerLink="/register">Register</a>

  </mat-toolbar>

</div>
<!--<router-outlet></router-outlet>-->
