
<!--<app-header1></app-header1>-->
<app-owner-navbar></app-owner-navbar>
<div class="headingDivLeagueOwner">
  <h1>LEAGUES</h1>
</div>

  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--<div class="split left">-->
  <!--<div class="centered">-->
    <!--<img src="img_avatar2.png" alt="Avatar woman">-->
    <!--<h2>Jane Flex</h2>-->
    <!--<p>Some text.</p>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="split right">-->
  <!--<div class="centered">-->
    <!--<img src="img_avatar.png" alt="Avatar man">-->
    <!--<h2>John Doe</h2>-->
    <!--<p>Some text here too.</p>-->
  <!--</div>-->
<!--</div>-->
<div class="container">
  <div class="col-md-6" id="leage">
  <h1>Create Leage</h1>
  <button class="btn btn-info">+</button>

  </div>
  <div class="col-md-4" id="tab">
  <mat-tab-group>

    <mat-tab label="Active Leagues">Next Level Football Leagues</mat-tab>
    <mat-tab label="Past Leagues">Next Level Football Leagues</mat-tab>
  </mat-tab-group>
  </div>
  <div>

  </div>

</div>


