

<div class="bg">
  <mat-toolbar  >

    <span ><img src="../../assets/title_logo.png" routerLink="" height="60" width="60"/></span>

    <span class="example-fill-remaining-space"></span>
    <a mat-button routerLink="about" routerLinkActive="menu-link-active"> PROFILE </a>
    <a mat-button routerLink="league_owner" routerLinkActive="menu-link-active">LEAGUES</a>
    <a mat-button routerLinkActive="menu-link-active" routerLink="refree">MATCHES</a>
    <a mat-button routerLink="login" routerLinkActive="menu-link-active">TOURNAMENTS</a>
    <a mat-button routerLinkActive="menu-link-active" routerLink="/register">BLOG</a>
    <a mat-button routerLinkActive="menu-link-active" routerLink="/register">CONTACT</a>

  </mat-toolbar>

</div>
<!--<router-outlet></router-outlet>-->
