
<!--<img style="margin-right: 200px" margin-left="100px" src="../../assets/title_logo.png" height="100" width="100"/>-->

<app-header1></app-header1>

<mat-card>
  <mat-card-header >
    <img style="width: 80px" height="80px" src="../../assets/title_logo.png">
  </mat-card-header>
  <mat-card-header>
      </mat-card-header>
  <mat-card-title>
    Register
  </mat-card-title>

  <!--content are here-->
<mat-card-content>
  <form class="demo-form">
    <table>
      <tr >
        <td >
          <mat-form-field class="demo-full-width">
            <input matInput placeholder="First Name">
          </mat-form-field>
        </td>
      </tr>
       <tr>
        <td >
          <mat-form-field class="demo-full-width">
            <input matInput placeholder="Last Name">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="demo-full-width">
            <input matInput placeholder="Email Address" [formControl]="emailFormControl"
                   [errorStateMatcher]="matcher"
            required>
            <!--<mat-hint>Error appera Instat</mat-hint>-->
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')" >
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field class="demo-full-width">
            <input matInput placeholder="PostCode">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td >
          <mat-form-field class="demo-full-width">
            <input matInput placeholder="Area">
          </mat-form-field>
        </td>
      </tr>
        <tr>
        <td>
          <mat-form-field class="demo-full-width">
            <input type="password" matInput placeholder="Password">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="demo-full-width">
            <input type="password" matInput placeholder="ReType Password">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="demo-full-width">
            <mat-select placeholder="Profile Type">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let profile of profileList" [value]="profile">{{profile}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field class="demo-full-width">
            <mat-select placeholder="Sports"  multiple>
              <mat-option *ngFor="let sport of sportsList" [value]="sport">{{sport}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr><tr>
        <td>
        </td>
      </tr>
      <br>

      <tr>
        <td>
          <a href="">Terms & Conditions</a>
        </td>
      </tr>
      Already have an account ?  <a routerLinkActive="menu-link-active"   routerLink="/login">LogIn </a>
      <br>
      <br>
      <tr>
        <td>
            <button mat-raised-button>
              Register
            </button>
          <button mat-raised-button>
            Reset
          </button>

        </td>
      </tr>




    </table>
  </form>
</mat-card-content>


</mat-card>



<!--<router-outlet></router-outlet>-->
