/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
.mat-card {
  text-align: -webkit-center;
}



.customized-mat-button{


  margin-left: 50%;
  margin-right: 50%;

  background-color: lavender;
  font-family: sans-serif;
  font-size: 5em;
  text-align: center;
  font-weight: bold;
  padding: 10px 30px 10px 30px;

}


.headingDivLeagueOwner{
  width: 100%;
  length: 300px;
  background-color: #3385ff;
  text-align: center;
  padding: 20px;
  color: white;
  font-family: bold;
}



.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex:1 1 auto;
}


.demo-toolbar {
  margin: 5px ;
  display: flex;
  width: 100%;

}
.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
  color: currentColor;
}
.mat-button{

  margin: 5px;
  font-family: Arial;
  font-size: 20px;
}
.demo-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.demo-full-width {
  width: 100%;
}





body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  max-width: 30%;
  margin: 5em auto;
  text-align: center;
  text-anchor: 1px;

}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.content-center {
  text-align: -webkit-center;
}

.ownertextDiv{
  border: solid  ;
  text-align: center;
  font-family: SansSerif  , Times, serif;
  font-size: 30vw;
}

.divLeft{
  background-color: aqua;
  width: 55%;
  height: 100%;
  border: solid;
  padding: 50px;
  float: left;
}
.divRight{
  background-color: mediumblue;
  width: 45%;
  height: 100%;
  border: solid;
  padding: 50px;
  float: right;
}
.bodyDiv{
  margin-top: 0;
  padding: 20px

}
.maindiv {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}
